@import "../../styles/variables";

.Header {
  background-color: $turbo-yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;

  &Content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}

.NavLink {
  margin: 0;
  padding: 0;
  cursor: $skate-cursor;
  color: black;
  font-size: 16px;
}

.Logo {
  margin-right: 40px;

  &Wrapper {
    display: grid;
    grid-template-rows: repeat(2, auto);
  }

  &:hover {
    cursor: $skate-cursor;
  }
}

.DateWrapper {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 24px;
}

.Time {
  text-align: right;
  margin-bottom: 20px;
  font-weight: 300;
}

.Date {
  font-weight: 600;
}

.EventDesc {
  text-align: right;
  font-weight: 300;
  align-self: flex-end;
  margin-bottom: 0;
  max-width: 500px;
}

.EventName {
  text-align: right;
  margin-bottom: 14px;
  font-size: 30px;
}

@include breakpoint(medium) {
  .Header {
    padding: 60px 0;
  }

  .Logo {
    padding: 24px 0;
  }

  .NavLink {
    font-size: 22px;
  }

  .BottomBanner {
    padding: 50px 0;
  }

  .EventName {
    margin-bottom: 24px;
    font-size: 40px;
  }
}

@include breakpoint(large) {
  .Header {
    padding: 80px 0;
  }

  .EventDesc {
    max-width: 500px;
  }

  .LogoWrapper {
    display: grid;
    grid-template-columns: 500px auto;
  }

  .DateWrapper {
    padding: 0;
    margin-right: 70px;
  }
}

@include breakpoint(xlarge) {
  .Header {
    padding: 120px 0;
  }

  .LogoWrapper {
    grid-template-columns: auto 600px;
  }
}
