@import "../../styles/variables";

.Header {
  background-color: $turbo-yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;

  &Content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}

.NavLink {
  margin: 0;
  padding: 0;
  cursor: $skate-cursor;
  color: black;
  font-size: 16px;
}

.FreeVans {
  max-width: 80px;
  transform: rotate(40deg);
  margin-bottom: -30px;

  &Wrapper {
    padding: 0 40px 0 0;
    display: flex;
    justify-content: flex-end;
  }
}

.Logo {
  max-width: 500px;
  margin-right: 0;
  margin-bottom: 16px;
  padding-right: 30px;

  &Wrapper {
    padding: 10px 0px 5px 0;
    display: flex;
    flex-direction: column;
  }

  &:hover {
    cursor: $skate-cursor;
  }
}

.Time {
  align-self: center;
  margin-bottom: 30px;
}

@include breakpoint(medium) {
  .Header {
    padding: 100px 0;
  }

  .NavLink {
    font-size: 22px;
  }
}
