@import "../../styles/variables";

.BottomBanner {
  padding: 30px;
  background-color: black;
  margin-bottom: 40px;
}

.BannerContent {
  display: flex;
  flex-direction: column;
}

.BannerText {
  color: white;
  margin-bottom: 0;
  text-align: center;
  font-size: 14px;
  letter-spacing: -2%;
  margin-bottom: 12px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@include breakpoint(medium) {
  .BottomBanner {
    padding: 50px 0;
    margin-bottom: 120px;
  }
}

@include breakpoint(large) {
  .BannerContent {
    margin: 0 70px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .BannerText {
    margin-bottom: 0;
  }
}
