@import "../../styles/variables";

%shared {
  margin: 0;
  padding: 0;
  font-family: $work-sans;
}

.H1 {
  @extend %shared;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  font-family: $work-sans;
}

.H2 {
  @extend %shared;
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 20px;
}

.H3 {
  @extend %shared;
  color: black;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 100;
}

.H4 {
  @extend %shared;
  font-size: 16px;
}

.H5 {
  @extend %shared;
  font-size: 14px;
}

.H6 {
  @extend %shared;
}

.Body {
  @extend %shared;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 16px;
  letter-spacing: 1px;
  font-weight: 300;

  &:last-child {
    margin-bottom: 0;
  }
}

.BodySmall {
  @extend %shared;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

.BodyExtraSmall {
  @extend %shared;
  font-size: 14px;
  line-height: 18px;
  color: black;
  font-weight: 400;
}

.Meta {
  @extend %shared;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@include breakpoint(medium) {
  .H2 {
    font-size: 24px;
  }

  .H3 {
    font-size: 16px;
  }

  .BodySmall {
    font-size: 20px;
    line-height: 28px;
  }

  .BodyExtraSmall {
    font-size: 16px;
  }
}
