@import "../../styles/variables";

.Wrapper {
  list-style: none;
  max-width: 800px;
  margin-bottom: 70px;
  padding: 0 24px;
}

.Heading {
  text-align: center;
  width: 100%;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-bottom: 10px;

  &:hover {
    cursor: pointer;
  }
}

.Title {
  text-align: center;
  margin-bottom: 24px;
}

.Question {
  margin-bottom: 10px;

  &:hover {
    cursor: pointer;
  }
}

.Answer {
  height: 0;
  opacity: 0;
  display: none;
  transition: all 0.5s ease-in-out;
  text-align: center;

  &Open {
    display: block;
    height: auto;
    opacity: 1;
  }
}

@include breakpoint(medium) {
  .Answer {
    text-align: left;
  }

  .Wrapper {
    max-width: 900px;
    margin: 0 auto;
  }
}
