@import "../../styles/variables";

.Wrapper {
  list-style: none;
  margin-bottom: 70px;
  padding: 0 24px;
}

.Heading {
  text-align: center;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-bottom: 10px;
  

  &:hover {
    cursor: $skate-cursor;
  }
}

.QuestionText {
  font-size: 18px;
  font-weight: 400;
}

.Title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 26px;;
}

.Question {
  margin-bottom: 10px;

  &:hover {
    cursor: $skate-cursor;
  }
}

.Answer {
  height: 0;
  opacity: 0;
  display: none;
  transition: opacity 0.5s 0.5s ease-in-out;
  text-align: center;

  font-weight: 500;

  &Open {
    display: block;
    height: auto;
    opacity: 1;
  }

  &:hover {
    cursor: $skate-cursor;
  }
}

@include breakpoint(medium) {
  .Answer {
    text-align: left;
  }

  .Wrapper {
    max-width: 700px;
    margin: 0 auto 120px;
  }

  .QuestionText {
    font-size: 20px;
  }
}
