@import "../../styles/variables";

.Header {
  background-color: $turbo-yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;

  &Content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.Logo {
  margin-bottom: 80px;
  width: 100%;
  max-width: 70%
}

.Link {
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-family: $work-sans;
  display: block;
  margin-bottom: 20px;

  &:hover {
    cursor: $skate-cursor;
    color: $flaming-orange;
  }

}

.Content {
  margin: 60px 24px;
  padding-bottom: 40px;
  border-bottom: 2px solid $turbo-yellow;

  &:last-of-type {
    border-bottom: 0;
  }
}

.Title {
  margin-bottom: 20px;
}

.Image {
  //width: 100%;
  
  margin-top: 20px;
  margin-right: 45px;
}

@include breakpoint(large){
  .Update {
    display: flex;
    
  }

  .Content {
    margin: 60px;
  }

  .Image {
    margin-top: 0;
    margin-left: 24px;
    max-width: unset;
  }

  .Info {
    max-width: 60%;
  }

  .Logo {
    max-width: 500px;
  }
}
