@import "../../styles/variables.scss";

.Gallery {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 30px;
}

.Image {
  width: 100%;
  height: auto;
  border-radius: 25px;
  margin-bottom: 10px;
}

.Row2 {
  margin-top: 40px;
}

@include breakpoint(medium) {
  .Gallery {
    max-width: 80%;
    margin: 70px auto;
    grid-gap: 40px;
  }

  .Image {
    margin-bottom: 40px;
  }
}
