@import "../../styles/variables";

.Wrapper {
  background-color: black;
  padding: 40px 24px 10px;
  display: flex;
  flex-direction: column;
  color: white;
}

.Header {
  font-size: 20px;
  margin-bottom: 25px;
}

.Text {
  color: white;
}

.Main {
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.Cta {
  color: white;
  margin-top: -10px;
}

.Right {
  margin-bottom: 40px;
}

.Link {
  font-family: $work-sans;
  font-weight: 500;
  text-decoration: none;
  color: white;
  outline: 0;
  letter-spacing: .5px;
  font-size: 12px;

  &:hover,
  &:focus {
    color: $turbo-yellow;
  }

  margin-top: 24px;
}

.Advertise {
  text-decoration: none;
  outline: 0;

  &:hover,
  &:focus {
    .Cta {
      color: $persian-red;
    }
  }
}

.Links,
.Signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Signup {
  padding-bottom: 40px;
  border-bottom: 1px solid white;
}

.Section {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-gap:20px;
}

@include breakpoint(large) {
  .Link {
    margin-top: 20px;
  }

  .Section {
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap: 24px;
  }

  .Header {
    margin-right: 40px;
  }

  .Wrapper {
    padding: 60px 45px;;
  }

  .Text {
    color: white;
  }
}
