@import "../styles/variables";

.Main {
  background-color: white;
  height: 100%;
  width: 100%;
}

.UnderConst {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
}

.Heading {
  margin-bottom: 20px;
}

.Tagline {
  text-align: center;
  margin-top: 30px;
}

.Tag {
  font-weight: 700px;
  text-transform: uppercase;
}

@include breakpoint(medium) {
  .Tagline {
    margin-top: 70px;
  }
}
