@import "../styles/variables";

.Heading {
  margin-bottom: 20px;
}

.Tagline {
  text-align: center;
  margin-top: 30px;
}

.Tag {
  font-weight: 700px;
  text-transform: uppercase;
}

@include breakpoint(medium) {
  .Tagline {
    margin-top: 70px;
  }
}
